$background_color: #ADDFFF;
$accent_color_1: #FDF6E3;
$accent_color_1_compliment: #CB4B15;
$accent_color_2: #F2DEDD;
$accent_color_2_compliment: #CF7C7B;
$accent_color_3: #f4c20d;

@import "spinner";
@import "weather";

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.app-container {
  background-color: $background_color;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: 1.5;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;

  .landing-container {
    min-width: 300px;
    min-height: 600px;
    width: 20vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .intro {
      padding: 5vh 0;

      .artificial-link {
        color: blue;
        font-family: sans-serif;
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .animate {
      display: flex;
      justify-content: center;
      -webkit-animation: fadein 1s;
    }

    input {
      font-size: 1.1rem;
      margin-top: 5vh;
      width: 10vw;
      min-width: 200px;
    }

    input::placeholder {
      color: gray;
      font-weight: normal;
    }

    button {
      margin-top: 3vh;
      background-color: #f2dedd;
      color: #cf7c7b;
      width: 30%;
      font-size: 1.1rem;
      text-transform: uppercase;
      padding: 5px;
    }

    .input-error {
      color: $accent_color_1_compliment;
    }

    ul {
      padding: 0;
      margin: 0;
      width: 10vw;
      min-width: 200px;
      list-style-type: none;
    }

    .suggestion {
      background-color: #fdf6e3;
      color: #cb4b15;
      padding: 5px;
      border-bottom: 1px solid #cb4b15;
      display: flex;
      align-items: center;

      img {
        padding-left: 5px;
      }

      .bold {
        font-weight: bold;
      }
    }

    .suggestion:hover {
      background-color: $accent_color_2;
      cursor: pointer;
    }
  }

  .dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

   .calendar-container {
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
   }

    .wind-speed-container {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 21px;
      padding-top: 40px;

      i {
        padding: 0 10px;
      }
    }

    .degree {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .degree-number {
        font-weight: 100;
        font-size: 73px;
        padding-top: 20px;
      }

      .degree-types {
        display: flex;

        .temperature-letter {
          padding: 0 5px;
          margin: 0 5px;
          cursor: pointer;
          background-color: lightpink;
        }
      }
    }

    .status {
      text-align: center;
      font-size: 1.2rem;
      padding: 0 10px;
    }

    .title {
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .place {
        display: flex;
        flex-direction: column;
        font-size: 2rem;
        padding: 0 10px;
        align-items: center;
      }

      .time {
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;
        padding: 0 10px;
      }

      img {
        padding: 5px 10px;
      }
    }
  }

  .paper {
    background: $accent_color_1;
    border-radius: 2px;
    display: inline-block;
    margin: 5px;
    position: relative;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  }

  .paper:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}


body {
  margin: 0 !important;
}

