.image-container {
  justify-content: center;
  display: flex;
  width: 200px;
  background-color: #faebd7;

  .sun {
    background-image: url("../resources/images/weather/sun.png");
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: 50% 50%;
    margin: 50px;
  }
  .cloudy {
    background-image: url("../resources/images/weather/cloudy.png");
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: 50% 50%;
    margin: 50px;
  }
  .cloud {
    background-image: url("../resources/images/weather/cloud.png");
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: 50% 50%;
    margin: 50px;
  }
  .cloud-1 {
    background-image: url("../resources/images/weather/cloud-1.png");
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: 50% 50%;
    margin: 50px;
  }
  .rain-1 {
    background-image: url("../resources/images/weather/rain-1.png");
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size:contain;
    overflow:visible;
  }
  .rain-2 {
    background-image: url("../resources/images/weather/rain-2.png");
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: 50% 50%;
    margin: 50px;
  }
  .storm {
    background-image: url("../resources/images/weather/storm.png");
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: 50% 50%;
    margin: 50px;
  }
  .snowflake {
    background-image: url("../resources/images/weather/snowflake.png");
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: 50% 50%;
    margin: 50px;
  }
  .tornado {
    background-image: url("../resources/images/weather/tornado.png");
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: 50% 50%;
    margin: 50px;
  }
  .moon-6 {
    background-image: url("../resources/images/weather/moon-6.png");
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: 50% 50%;
    margin: 50px;
  }
  .rain-3 {
    background-image: url("../resources/images/weather/rain-3.png");
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: 50% 50%;
    margin: 50px;
  }
}
